/* =====Global===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-family: "Roboto";
  image-rendering: pixelated;

  color: white;
}

:root {
  --text-light: hsl(190, 77%, 88%);
  --sky-bg: hsl(208deg 100% 93%);
  --background: linear-gradient(
    180deg,
    hsl(202deg 98% 37%),
    hsl(202deg 98% 25%)
  );

  --text-lg: 50px;
  --text-big: 22px;
}

a {
  color: wheat;
}
a:hover {
  color: hsl(39, 80%, 76%);
}

.anchor {
  width: 100%;
  height: 5px;

  margin-bottom: 10px;
}

@font-face {
  font-family: "heading-pixel";
  src: url(./assets/fonts/pcsenior.ttf);
}

@font-face {
  font-family: "subheading-pixel";
  src: url(./assets/fonts/FFFFORWA.TTF);
}

@font-face {
  font-family: "text-pixel";
  src: url(./assets/fonts/orange-kid.ttf);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  width: 0;
}

/* Diver */
.diver {
  width: 60px;

  position: fixed;
  left: 150px;
  top: calc(50% - 80px);

  transition: 500ms;

  transform: scale(-1, 0);
  z-index: 0;

  animation-direction: forwards;
}

/* =====Header===== */
header {
  position: relative;

  display: flex;

  height: 500px;

  align-items: flex-end;

  background-color: var(--sky-bg);
  background-repeat: repeat-x;
  background-image: url(./assets/images/waves.png),
    url(./assets/images/clouds.png);
  background-position: bottom, top;
  background-size: 670px, 1100px;

  animation: waves 3s linear infinite forwards,
    clouds 400s linear infinite forwards;

  image-rendering: auto;
}

.boat {
  width: 210px;
  height: 210px;

  margin-left: 120px;

  animation: float 3s linear infinite;

  image-rendering: pixelated;
  z-index: 1;
}

.dive-in-btn {
  position: absolute;
  left: calc(50% - 78px);

  border: none;

  background-image: url(./assets/images/button.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 120px;
  background-color: transparent;

  padding: 40px 40px 41px 42px;

  user-select: none;

  cursor: pointer;

  animation: float 3s linear infinite;

  image-rendering: pixelated;
}

.dive-in-btn p {
  font-size: 28px;
  font-family: "VT323";
}

.dive-in-btn:hover {
  background-position: bottom;
}

/* ===== Main ===== */
main {
  display: flex;
  flex-direction: column;
  height: 500vh;

  align-items: center;

  background: url(./assets/images/bg.webp);
}

/* about section */

.about {
  margin-top: 500px;
}

.introduction {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: center;

  color: white;
  font-size: var(--text-lg);
  font-weight: 500;
  font-family: "heading-pixel";
  letter-spacing: -2px;
}

.sub-heading {
  color: #ffb92c;

  font-size: var(--text-big);
  letter-spacing: 0;
  font-family: "heading-pixel";
}

.sub-heading-name {
  color: #ffdb24;

  margin-top: 10px;

  font-family: "heading-pixel";
  font-size: 16px;
  letter-spacing: 0px;
}

.info {
  width: 50vw;

  display: flex;

  justify-content: space-between;

  color: white;

  margin-top: 45px;

  font-family: "VT323";
  font-size: 28px;
}

/* general info */
.general-info,
.skills-info,
.framework-info {
  max-width: 370px;

  display: inline-flex;

  margin-right: 20px;

  flex-direction: column;
  align-items: center;

  text-align: center;
}

.framework-info {
  margin-left: 50px;
  margin-right: 0px;
}

.general-info-text,
.skills-info-text {
  font-size: 28px;
  margin-top: 20px;
}

/* photo */

.photo-container {
  height: 310px;

  position: relative;
}

.my-photo {
  width: 310px;
}

/* skills info */
.skills-info {
  margin-top: 60px;
  margin-right: 0;
}

.skill {
  position: relative;

  width: 340px;
  height: 40px;

  display: flex;

  align-items: center;
  justify-content: center;

  margin-top: 20px;
  padding-bottom: 4px;

  font-family: "text-pixel";
  font-size: 28px;

  outline-offset: -3px;
}

.pixel {
  position: absolute;

  width: 5px;
  height: 5px;

  background: #01629c;
}

.pixel-top-left {
  top: 0;
  left: 0;
}

.pixel-top-right {
  top: 0;
  left: calc(100% - 5px);
}

.pixel-bottom-left {
  top: calc(100% - 5px);
  left: 0;
}

.pixel-bottom-right {
  top: calc(100% - 5px);
  left: calc(100% - 5px);
}

.skill-html {
  background: linear-gradient(to right, #f16529 95%, transparent 0%);
  outline: solid #f16529;
}
.skill-css {
  background: linear-gradient(to right, #3273ff 85%, transparent 0%);
  outline: solid #3273ff;
}
.skill-js {
  background: linear-gradient(to right, #f7e018 80%, transparent 0%);
  outline: solid #f7e018;
  color: black;
}

.skill-css-framework {
  background: linear-gradient(to right, #8411fa 65%, transparent 0%);
  outline: solid #8411fa;
}
.skill-angular {
  background: linear-gradient(to right, #de002d 50%, transparent 0%);
  outline: solid #de002d;
}
.skill-jquery {
  background: linear-gradient(to right, #f6df18 75%, transparent 0%);
  outline: solid #f6df18;
  color: black;
}

/* projects section */
.projects-section {
  max-width: 100vw;

  margin-top: 300px;
}

.projects {
  width: 200vw;
  max-width: 300vw;

  display: flex;

  margin-top: 70px;

  transition: 1s;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 290px;

  background-repeat: no-repeat;
  background-size: 250px, 210px;
  background-position: center;
  margin: 0 30px;
}

.project-1 {
  background-image: url(assets/images/projects/frame.png),
    url(assets/images/projects/project-404.png);
}

.project-2 {
  background-image: url(assets/images/projects/frame.png),
    url(assets/images/projects/project-trello.png);
}

.project-img {
  width: 170px;
  height: 220px;
}

.steering-wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.steering-wheel {
  width: 100px;
}

.arrow {
  width: 70px;
  height: 60px;

  margin: 0 25px;

  cursor: pointer;

  transition: left 1s, height 300ms;
}
.arrow-left {
  transform: rotate(90deg);
}
.arrow-right {
  transform: rotate(-90deg);
}

.arrow-right:hover,
.arrow-left:hover {
  height: 65px;
}

.arrow-nav {
  position: fixed;
  left: -100%;
  top: 10px;

  margin: 0;
}

.arrow-up {
  transform: rotate(-180deg);
}
.arrow-up:hover {
  height: 65px;
}

.arrow-down {
  top: calc(100% - 70px);
}
.arrow-down:hover {
  height: 65px;
}

/* Responsive */
@media screen and (min-width: 865px) {
  .info {
    width: auto;
  }
}

/* Keyframes */

@keyframes float {
  0% {
    margin-bottom: 15px;
  }
  50% {
    margin-bottom: 20px;
  }
  100% {
    margin-bottom: 15px;
  }
}

/* Animations */
@keyframes waves {
  0% {
    background-position-y: 285px, top;
  }
  50% {
    background-position-y: bottom, top;
  }
  100% {
    background-position-y: 285px, top;
  }
}

@keyframes clouds {
  0% {
    background-position-x: center, 0px;
  }
  100% {
    background-position-x: center, 1100px;
  }
}

@keyframes appear {
  0% {
    transform: scale(-1, 0);
    top: calc(65% - 80px);
  }
  20% {
    transform: scale(-1, 1);
    top: calc(57% - 80px);
  }
  45% {
    transform: scale(-1.2, 1);
  }
  46% {
    transform: scale(-1, 1);
  }
  100% {
    transform: scale(-1, 1);
    top: calc(57% - 80px);
  }
}

@keyframes dive {
  0% {
    top: calc(57% - 80px);
    transform: scale(-1, 1);
  }
  80% {
    top: calc(57% - 80px);
    transform: scale(-1, 0.6);
  }
  90% {
    top: calc(57% - 80px);
    transform: scale(-1, 1.1);
  }
  100% {
    top: calc(57% - 80px);
    transform: scale(-1, 1.1);
  }
}

@keyframes jump {
  0% {
    transform: scale(-1, 1) rotate(0deg);
    top: calc(57% - 80px);
  }
  30% {
    top: calc(45% - 80px);
  }
  100% {
    transform: scale(-1, 1) rotate(360deg);
    left: 20px;
    top: calc(70% - 80px);
  }
}

@keyframes swimUp {
  0% {
    top: calc(70% - 80px);
    transform: scale(-1, 1);
  }
  100% {
    top: calc(50% - 60px);
    transform: scale(1, 1);
  }
}
