/* =====Global===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-light: hsl(190, 77%, 88%);
  --sky-bg: hsl(208deg 100% 93%);
  --background: linear-gradient(
    180deg,
    hsl(202deg 98% 37%),
    hsl(202deg 98% 25%)
  );
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* =====Header===== */
header {
  background-color: var(--sky-bg);
  background-repeat: repeat-x;
  background-image: url(assets/wave.png);
  background-position: bottom;
  background-size: 670px;
  height: 200px;
}

.boat {
  width: 210px;
  margin-left: 55px;
  height: 210px;
}

/* ===== Main ===== */
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background);
}
