/* =====Global===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  scroll-behavior: smooth;

  font-family: "Roboto";
  image-rendering: pixelated;
}

:root {
  --text-light: hsl(190, 77%, 88%);
  --sky-bg: hsl(208deg 100% 93%);
  --background: linear-gradient(
    180deg,
    hsl(202deg 98% 37%),
    hsl(202deg 98% 25%)
  );

  --text-lg: 50px;
  --text-big: 22px;
}

@font-face {
  font-family: "heading-pixel";
  src: url(assets/fonts/pcsenior.ttf);
}

@font-face {
  font-family: "subheading-pixel";
  src: url(assets/fonts/FFFFORWA.TTF);
}

@font-face {
  font-family: "text-pixel";
  src: url(assets/fonts/prstart.ttf);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0;
}

/* =====Header===== */
header {
  position: relative;

  display: flex;

  height: 500px;

  align-items: flex-end;

  background-color: var(--sky-bg);
  background-repeat: repeat-x;
  background-image: url(assets/images/waves.png), url(assets/images/clouds.png);
  background-position: bottom, top;
  background-size: 670px, 1100px;
}

.clouds {
  width: 100vw;
  display: flex;
}

.boat {
  width: 210px;
  height: 210px;

  margin-left: 55px;

  animation: float 3s linear infinite;
}

.dive-in-btn {
  position: absolute;
  left: calc(50% - 78px);

  border: none;
  border-radius: 5px;

  background-image: url(assets/images/button.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 120px;
  background-color: transparent;

  margin-bottom: 20px;

  padding: 40px 40px 41px 42px;

  user-select: none;

  cursor: pointer;

  animation: float 2s linear 1s infinite;
}

.dive-in-btn p {
  font-size: 28px;
  font-family: "VT323";
}

.dive-in-btn:hover {
  background-position: bottom;
}

/* ===== Main ===== */
main {
  display: flex;
  flex-direction: column;
  height: 200vh;

  align-items: center;
  justify-content: center;

  background: url(assets/images/bg.png);
}

/* 1 section */
.about {
  color: white;

  font-family: "Roboto";
}

.introduction {
  display: flex;

  flex-direction: column;
  align-items: center;
}

.heading-name {
  font-size: var(--text-lg);
  font-weight: 500;
  font-family: "heading-pixel";
  letter-spacing: -2px;
}

.sub-heading {
  color: #ffb92c;

  font-size: var(--text-big);
  letter-spacing: 0;
  font-family: "heading-pixel";
}

.sub-heading-name {
  color: #ffdb24;

  margin-top: 10px;

  font-family: "heading-pixel";
  font-size: 16px;
  letter-spacing: 0px;
}

.info {
  width: 50vw;

  display: flex;

  justify-content: space-between;

  color: white;

  margin-top: 45px;

  font-family: "VT323";
  font-size: 28px;
}

/* general info */
.general-info,
.skills-info {
  max-width: 340px;

  display: flex;

  margin-right: 20px;

  flex-direction: column;
  align-items: center;

  text-align: center;
}

.general-info-text,
.skills-info-text {
  margin-top: 20px;
}

/* photo */

.my-photo {
  width: 300px;

  background-color: white;

  border-radius: 5%;
}

.arrow-me {
  position: absolute;
}

/* skills info */
.skills-info {
  margin-left: 20px;
  margin-right: 0;
}

/* skills */

.skills-list {
  text-align: left;
}

@keyframes float {
  0% {
    margin-bottom: 20px;
  }
  50% {
    margin-bottom: 25px;
  }
  100% {
    margin-bottom: 20px;
  }
}

/* Responsive */
@media screen and (min-width: 865px) {
  .info {
    width: auto;
  }
}
